.cart{
    margin-bottom: 50px;
}

.cart__wrapper{
    display: flex;
    flex-direction: column;
}

.cart__title{
    font-size: var(--fz-section-title);
    margin-bottom: 20px;
    font-weight: 700;
}

.cart__inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart__list{
    padding: 14px;
    max-width: 1124px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #00000010;
}

.cart__item{
    padding: 24px 0;
    border-bottom: 2px solid #00000010;
}

.item__wrapper{
    display: flex;
    gap: 14px;
}

.item__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item__info{

}

.item__title{
    font-size: var(--fz-medium);
    font-weight: 700;
    margin-bottom: 8px;
}

.item__params{
    display: flex;
    font-size: var(--fz-ssmall);
    margin-bottom: 4px;
    column-gap: 6px;
}

.item__params:nth-child(3){
    margin-bottom: 25px;
}

.item__price{
    font-size: var(--fz-xmedium);
    font-weight: 700;
}

.item__buttons{
    max-width: 126px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-end;
}

.delete__button{
    width: fit-content;
    cursor: pointer;
}

.item__counter{
    padding: 9px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    border-radius: 62px;
    max-width: 100px;
    width: 100%;
}

.counter__button{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.counter__button__img{
    width: 12.5px;
}

.cart__item:first-child{
    padding-top: 0;
}

.cart__item:last-child{
    border-bottom: none;
    padding-bottom: 0;
}


.cart__summary{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #00000010;
}

.summary__title{
    font-size: var(--fz-xmedium);
    font-weight: 700;
    margin-bottom: 16px;
}

.summary__info__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
    font-size: var(--fz-medium);
    color: var(--text-color-darkened);
}

.info__item{
    display: flex;
    justify-content: space-between;
}

.info__price{
    font-weight: 700;
    color: var(--black);
}

.info__price__accent{
    color: var(--text-color-discount);
}

.summary__price{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #00000010;
    margin-bottom: 18.5px;
}

.price__title{
    font-size: var(--fz-medium);
}

.price__total{
    font-size: var(--fz-xmedium);
    font-weight: 700;
}

.cart__form{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;
}

.cart__input{
    width: 100%;
    height: 48px;
    border-radius: 62px;
    padding-left: 48px;
    background-color: var(--gray);
}

.cart__input::placeholder{
    color: var(--text-color-darkened);
}

.cart__label{
    position: relative;
}

.cart__label::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../app/static//icons/cart/promo.svg);
    width: 21px;
    height: 21px;
}

.form__button{
    max-width: 88px;
    width: 100%;
    height: 48px;
    border-radius: 62px;
    background-color: var(--black);
    color: var(--white);
}

.summary__button{
    width: 100%;
    height: 54px;
    border-radius: 62px;
    background-color: var(--black);
    color: var(--white);
}

@media screen and (min-width: 1180px) {

    .summary__title{
        margin-bottom: 24px;
    }

    .cart{
        margin-bottom: 80px;
    }

    .cart__inner{
        flex-direction: row;
    }

    .cart__list{
        max-width: 715px;
        width: 100%;
    }
    
    .item__wrapper{
        gap: 16px;
    }

    .item__image{
        border-radius: 10px;
    }

    .item__counter{
        padding: 12px;
        max-width: 126px;
        width: 100%;
        height: 44px;
    }

    .counter__button__img{
        width: 15.6px;
    }

    .cart__summary{
        height: 458px;
    }

    .summary__price{
        margin-bottom: 26.5px;
    }

    .cart__form{
        margin-bottom: 24px;
    }

    .form__button{
        max-width: 120px;
    }

    .summary__button{
        width: 100%;
        height: 60px;
    }
}
