.product__showcase{
    height: 100%;
}

.product__image {
    max-width: 444px;
    width: 100%;
    max-height: 530px;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.product__info{
    width: 100%;
}

.product__title{
    font-size: var(--fz-large);
    font-weight: 700;
    max-width: 270px;
    width: 100%;
}

.product__rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.price__block{
    display: flex;
    gap: 10px;
}

.product__price{
    font-size: var(--fz-xxmedium);
    font-weight: 700;
    display: flex;
    gap: 10px;
}

.discount__info{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10px;
}

.old__price{
    font-size: var(--fz-xxmedium);
    font-weight: 700;
    text-decoration: line-through;
    display: flex;
    align-self: center;
    justify-content: center;
    color: #00000040;
}

.discount__price{
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    font-size: var(--fz-ssmall);
    padding: 6px 13.5px;
    border-radius: 20px;
}

@media screen and (min-width: 400px) {
    .product__image {
        max-width: 358px;
        max-height: 440px;
    }
}

@media screen and (min-width: 520px) {
    .product__image {
        max-width: 400px;
        max-height: 460px;
    }
}

@media screen and (min-width: 768px) {
    .product__image {
        max-width: 444px;
        max-height: 530px;
    }

    .product__showcase{
        display: flex;
    }

}

@media screen and (min-width: 992px) {

    .product__image {
        max-width: 444px;
        max-height: 530px;
    }
}

@media screen and (min-width: 1200px) {
    .product__image {
        max-width: 444px;
        max-height: 530px;
    }
}
