*{
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
  --fz-filter-small: 14px;
  --fz-filter: 20px;
  --fz-per-small: 14px;
  --fz-ssmall: 12px;
  --fz-small: 14px;
  --fz-medium: 16px;
  --fz-xmedium: 20px;
  --fz-xxmedium: 24px;
  --fz-per-medium: 20px;
  --fz-large: 24px;
  --fz-xlarge: 32px;
  --fz-xxlarge: 36px;
  --fz-section-title: 32px;
  --fz-discoutn: 10px;

  --white: #ffffff;
  --black: #000000;
  --gray: #F0F0F0;
  --gray-second: #F2F0F1;
  --text-color-darkened: rgba(0, 0, 0, 0.6);
  --text-color-discount: #FF3333;
  --bcg-color-discount: rgba(255, 51, 51, 0.1);

  --zindex-sidebar: 3;

}

@media screen and (min-width: 992px){
  :root {
    --fz-ssmall: 14px;
    --fz-small: 16px;
    --fz-medium: 20px;
    --fz-xmedium: 24px;
    --fz-xxmedium: 32px;
    --fz-large: 40px;
    --fz-section-title: 48px;
    --fz-xlarge: 40px;
    --fz-xxlarge: 64px;
    --fz-discoutn: 12px;
  }
}

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Integral CF Bold */
@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/IntegralCF-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.container{
  max-width: 100%;
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: 'Satoshi';
  color: var(--black);
  background: var(white);
}

main{
  min-height: 50vh;
}