.discount{
    background-color: var(--black);
    color: var(--white);
}

.discount__inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.discount__text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fz-per-small);
}

.discount__link{
    text-decoration: underline;
    font-weight: 500;
}

.discount__close{
    right: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .discount__inner{
        height: 38px;
    }
}