.parameters__types{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #00000010;
}

.types__list{
    display: flex;
    flex-direction: column;
    gap: 22.5px;
    color: var(--text-color-darkened);
}

.types__item{
    position: relative;
    
}

.types__item::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, 50%);
    background-image: url("../../../../app//static/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11.5px;
    height: 6.5px;
    transition: transform .3s ease;
    cursor: pointer;
    rotate: 90deg;
}

.active::before{
    transform: translate(-50%, 50%) rotate(90deg);
}