.filters__styles{
    padding-top: 20px;
    height: fit-content;
    margin-bottom: 24px;
}

.filters__title{
    font-size: var(--fz-per-medium);
    font-weight: 600;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.filters__title::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-image: url("../../../../app//static/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11.5px;
    height: 6.5px;
    transition: transform .3s ease;
    cursor: pointer;
}

.active{
    margin-bottom: 20px;
}

.active::before{
    transform: translate(50%, -50%) rotate(180deg);
}

.styles__list{
    display: flex;
    flex-direction: column;
    row-gap: 22.5px;
}

.styles__item{
    font-size: var(--fz-medium);
    display: flex;
    gap: 10px;
}

.styles__link{
    cursor: pointer;
}
