.tabs__content{
    margin-bottom: 50px;
}

.tabs__container{
    width: 100%;
}

.tabs__header{
    width: 100%;
    margin-bottom: 30px;
}

.tabs__title{
    text-align: center;
    font-size: var(--fz-large);
    margin-bottom: 20px;
}

.tabs__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs__item{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-darkened);
    cursor: pointer;
    border-bottom: 1px solid #888888;
    padding: 24px 0;
    font-size: var(--fz-medium);
}

.active{
    color: var(--black);
    border-bottom: 2px solid #000;
}

.product__detail{
    display: flex;
    flex-direction: column;
}

.product__size__guide__wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.product__size__guide{
    width: 100%;
    height: auto;
}

.product__materials{
    font-size: var(--fz-medium);
}

@media screen and (min-width: 768px) {
    .tabs__content{
        margin-bottom: 64px;
    }

    .product__size__guide__wrapper{
        width: 70%;
    }
}