.header{
    padding: 24px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__menu{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header__logo{
    width: fit-content;
    height: fit-content;
}

.header__list{
    display: none;
    column-gap: 24px;
}

.header__item{
    position: relative;
}

.header__link,
.header__button{
    text-decoration: none;
}

.header__button{
    cursor: pointer;
    z-index: 3;
    padding-right: 10px;
}

.header__button::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-image: url("../../../app/static/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11.5px;
    height: 6.5px;
    transition: transform .3s ease;
    cursor: pointer;
}

.active::before{
    transform: translate(50%, -50%) rotate(180deg);
}

.dropdown__list{
    position: absolute;
    top: 100%;
    left: -20px;
    width: fit-content;
    height: fit-content;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: var(--white);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__item:hover .dropdown__list{
    opacity: 1;
    visibility: visible;
}

.dropdown__item a{
    text-decoration: none;
    color: var(--black);
    padding: 10px;
}

.active__dropdown{
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: var(--black);
}

.icon{
    width: 24px;
    height: 24px;
}

.header__icon{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__interface{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 12px;
    width: 100%;
}

.search__wrapper{
    display: none;
}

@media screen and (min-width: 920px){

    .header__item{
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .header__interface{
        display: flex;
        align-items: center;
    }

    .header__inner{
        flex-direction: row;
    }

    .header__nav{
        display: flex;
        column-gap: 40px;
    }

    .header__menu{
        display: none;
        margin-right: 0;
    }

    .header__list{
        display: flex;
        column-gap: 24px;
        height: 100%;
    }

    .search{
        max-width: 540px;
        width: 100%;
    }

    .input__inner{
        width: 100%;
        max-width: 577px;
    }
}

@media screen and (min-width: 592px){
    .search__wrapper{
        display: block;
    }

    .search__mobile{
        display: none;
    }
}
