.cart,
.cart__empty{
    position: relative;
    width: 22px;
    height: 22px;
}

.cart::before{
    content: attr(data-cart);
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: var(--white);
    right: -8px;
    top: -5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

