.filters__title{
    font-size: var(--fz-per-medium);
    font-weight: 600;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.filters__title::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-image: url("../../../../app//static/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 11.5px;
    height: 6.5px;
    transition: transform .3s ease;
    cursor: pointer;
}

.active{
    margin-bottom: 20px;
}

.active::before{
    transform: translate(50%, -50%) rotate(180deg);
}

.filters__colors{
    transition: transform .3s ease;
    padding: 20px 0;
    border-bottom: 2px solid #00000010;
}

.colors__list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.colors__item{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: relative;
}

.colors__selected::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../../../app/static/icons/done.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}