.sidebar{
  width: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zindex-sidebar);
  transition: opacity 0.3s ease;
}

.sidebar__show{
  width: 100%;
  opacity: 1;
}

.sidebar__menu{
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar__close{
  background-image: url("../../../app/static/icons/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
  
.show {
  transform: translateX(0); 
}
  
.sidebar__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.sidebar__item,
.sidebar__item a{
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
}
  
.sidebar__link{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar__link:hover{
  background-color: #e9ecef;
}


.header__button{
  cursor: pointer;
  z-index: 3;
  padding-right: 10px;
}

.header__button::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 40%;
  transform: translate(50%, -50%);
  background-image: url("../../../app/static/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 11.5px;
  height: 6.5px;
  transition: transform .3s ease;
  cursor: pointer;
}

.active::before{
  transform: translate(50%, -50%) rotate(180deg);
}

.dropdown__list{
  width: 0;
  height: 0;
  top: 100%;
  overflow: hidden;
  padding-left: 20px;
}

.active{
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: var(--black);
  margin-bottom: 10px;
}
  